{%extends "post/index.html"%}
{%load static%}
{%block content%}
 {%block momentjs%}
 <script type ="text/javascript"  src="{%static 'post/js/moment-with-locales.min.js'%}"></script>{%endblock momentjs%}
<div class = 'user-com-stat'>
	<div class = "user-com-pic-heading">
		<div class = "pic-class">
			<img class = "user_post_side-pic" src = "{{com_user.profile.image.url}}">
		</div>
		<h4 class ="user-post-num">@{{com_user.username}} has commented on {{post_num}} posts</h4><br>	
	</div>
		<form id = "id_searchform" method ="GET">
			{%csrf_token%}
			<div id = "jump-div">
				<textarea id ="jump-box"  rows = "1rem" cols ="5rem"  name = "page" placeholder="Page">{{posts.number}}</textarea> 
				<button type = "submit">Go</button>
				<span id ="page-range">{%if posts.has_other_pages%}Page 1-{{posts.paginator.num_pages}}{%else%}Page 1{%endif%}</span>
			</div>
		</form>	
</div>

	{%for post in posts%}
	
		<div class="post-user-com-section">
				<div class = "post-pic-duo">
					<div class = "pic-class">
						<img class = "side-pic" src = "{{post.author.profile.image.url}}">
					</div>
					<div align = "center" class = "post-pic-duo-wrap">
						<div class = 'post-info'>
							<div class= "post-top">
								<a id ="post-top-author" href ="{%url 'user-post-list' post.author.username%}">{{post.author}}</a>
								{%if post.game_console%}
									<a id = "post-top-console" href = "{%url 'console-post' post.game_console%}">{{post.game_console}}</a>
								{%endif%}
								<small class="post-top-date" >{{post.date_posted.isoformat}}</small>
							</div>
							<div class = "post-bottom">
							<span class = 'post-title'>
								<a class= "post-title-content" href ="{%url 'post-detail' post.author.username post.slug%}">{{post.title}}</a>
							</span>
							{%if post.game_name%}
								<span class="post-game-name">
									|| {{post.game_name}} ||
								</span>
							{%endif%}
						</div>
						</div>
					</div>
				</div>
	</div>
	{%endfor%}
		{%if posts.has_other_pages%}
		<div align = "center" class = "paginator-block">
				{%if posts.number == 1%}
					<a class ="selected-paginate" href = "?page=1">First</a>
				{%else%}
					<a class ="paginate" href = "?page=1">First</a>
				{%endif%}

				{%for num in posts.paginator.page_range%}
					{%if posts.number == num%}
						{%if num == 1 %}
							
						{%elif num == posts.paginator.num_pages%}
						
						{%else%}
							<a class ="selected-paginate" href = "?page={{num}}">{{num}}</a>
						{%endif%}

					{%elif num > posts.number|add:"-6" and num < posts.number|add:"6"%}
						{%if num == 1 %}
							
						{%elif num == posts.paginator.num_pages%}
							
						{%else%}
							<a class ="paginate" href = "?page={{num}}">{{num}}</a>
						{%endif%}
					{%endif%}
				{%endfor%}

				{%if posts.number == posts.paginator.num_pages%}
					<a class ="selected-paginate" href = "?page={{posts.paginator.num_pages}}">Last</a>	
				{%else%}
					<a class ="paginate" href = "?page={{posts.paginator.num_pages}}">Last</a>	
				{%endif%}
		</div>
			
		{%endif%}
				

	<script>
		var date_col = document.getElementsByClassName("post-top-date")
		for (var j=0; j<date_col.length ;j++){
			var real_date = date_col[j].innerText
			real_date = moment(real_date)
			date_col[j].innerText = real_date.format("LLL")
		}
	</script>	


{%endblock content%}