 {%extends "post/index.html"%}
 {%load static%}
{%block content%}
<form class ="pass-reset-block" method = "POST">
	{%csrf_token%}
	<h4 class= "pass-reset-title">Enter Your Email</h4>
	<div class = "form-field">
		<input class = "email-field" type = 'text' name = 'email' placeholder = '  Email'{%if form.is_bound%} value ="{{form.email.value}}"{%endif%}><br>
			{%if form.email.errors%}
				{%for error in form.email.errors%}
					<small style = 'color:red'>{{error}}</small>
				{%endfor%}
			{%endif%}
	</div>
	<button id="pass-reset-button" type = "submit" class = 'form-button'>Request Password Reset</button>
</form>
{%endblock content%}