 {%extends "post/index.html"%}
 {%load static%}
{%block content%}
<form class = "login-block" method ="POST">
	{%csrf_token%}
	<h3 class= "pass-reset-confirm-title">Change password</h3>
	<div class = "form-field">
			<input class = "pass1-field" type = 'password' name = 'new_password1'  placeholder = '  Password'{%if form.is_bound%} value ="{{form.new_password1.value}}"{%endif%}><br>
			{%if form.new_password1.errors%}
				{%for error in form.new_password1.errors%}
					<small style = 'color:red'>{{error}}</small>
				{%endfor%}
			{%endif%}
		</div>

		<div class = "form-field">
			<input class = "pass2-field" type = 'password' name = 'new_password2' placeholder = '  Retype password'{%if form.is_bound%} value ="{{form.new_password2.value}}"{%endif%}><br>
			{%if form.new_password2.errors%}
				{%for error in form.new_password2.errors%}
					<small style = 'color:red'>{{error}}</small>
				{%endfor%}
			{%endif%}
		</div>

		<button type = "submit" class = 'form-button'>Reset Password</button>
</form>

{%endblock content%}