{%extends "post/index.html"%}
{%load static%}

{%block content%}


	{%block bgimagecss%}
		<style>

			body{
			background-color:rgb(0,0,0) !important;
			background:url("{%static 'post/images/creed-dark.jpg'%}");
			background-position:top;
			background-repeat:no-repeat;
			}
			

		</style>
	{%endblock bgimagecss%}

	<div class='register-div'>
		<h3 class = 'register-heading'> Join Today </h3>
			{%if form.non_field_errors%}
				{%for error in form.non_field_errors%}
					<ul>
						<li><small style = 'color:red'>{{error}}</small></li>
					</ul>

				{%endfor%}
			{%endif%}
	
	<form method = 'POST'>
		{%csrf_token%}
		<div class = "form-field">
			<input class = "user-field" type = 'text' name = 'username' placeholder = '  Username' {%if form.is_bound%} value ="{{form.username.value}}"{%endif%}><br>
			{%if form.username.errors%}
				{%for error in form.username.errors%}
					<small style = 'color:red'>{{error}}</small>
				{%endfor%}
			{%endif%}
		</div>

		<div class = "form-field">
			<input class = "email-field" type = 'text' name = 'email' placeholder = '  Email'{%if form.is_bound%} value ="{{form.email.value}}"{%endif%}><br>
			{%if form.email.errors%}
				{%for error in form.email.errors%}
					<small style = 'color:red'>{{error}}</small>
				{%endfor%}
			{%endif%}
		</div>

		<div class = "form-field">
			<input class = "pass1-field" type = 'password' name = 'password1' placeholder = '  Password'{%if form.is_bound%} value ="{{form.password1.value}}"{%endif%}><br>
			{%if form.password1.errors%}
				{%for error in form.password1.errors%}
					<small style = 'color:red'>{{error}}</small>
				{%endfor%}
			{%endif%}
		</div>

		<div class = "form-field">
			<input class = "pass2-field" type = 'password' name = 'password2' placeholder = '  Retype password'{%if form.is_bound%} value ="{{form.password2.value}}"{%endif%}><br>
			{%if form.password2.errors%}
				{%for error in form.password2.errors%}
					<small style = 'color:red'>{{error}}</small>
				{%endfor%}
			{%endif%}
		</div>

		<button type = "submit" class = 'form-button'>Sign Up</button>
	</form>
</div>
	{%endblock content%}

